name: Foundry

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
  HUSKY: 0

jobs:
  test:
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install dependencies
        run: forge soldeer install

      - name: Show Forge version
        run: forge --version

      - name: Run fmt
        run: forge fmt --check

      - name: Run tests
        run: forge test --gas-report

      - name: Run coverage
        run: forge coverage --no-match-coverage "(test|dependencies|scripts)"

      - name: Upload coverage to action results
        uses: actions/upload-artifact@v4
        with:
          path: |
            coverage/
            coverage.json
