name: Publish Release Package

on:
  release:
    types: [published]

jobs:
  build:
    if: "!github.event.release.prerelease"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable
      - name: Install dependencies
        run: forge soldeer install
      - name: Build contracts
        run: forge build
      - name: Run test coverage
        run: forge coverage --no-match-coverage "(^test/|_testContracts/|utils/)" --ir-minimum
      - name: Zip coverage results
        run: zip -r coverage.zip "coverage/" "coverage.json"
      - name: Upload artifacts to release
        uses: softprops/action-gh-release@v1
        if: ${{startsWith(github.ref, 'refs/tags/') }}
        with:
          files: coverage.zip
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
