name: Test workflow
on: pull_request
jobs:
  lint:
    name: Lint sources
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: "actions/checkout@master"

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install dependencies
        run: forge soldeer install

      - name: Lint sources
        run: forge fmt --check

      - name: Build contracts
        run: forge build

  unit_test:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: "actions/checkout@master"

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install dependencies
        run: forge soldeer install

      - name: Build application
        run: forge build

      - name: Run test coverage
        run: forge coverage --no-match-coverage "(^test/|_testContracts/|utils/)" --ir-minimum

      - name: Upload coverage to action results
        uses: actions/upload-artifact@v4
        with:
          path: |
            coverage/
            coverage.json
